body {
	background-position: center;
	background-size: cover;
	background-image: url("http://localhost/kelompok-_tekweb_dse-b/ci3/asset/gedung.png");
	background-attachment: fixed;
}
.navbar {
	background-color: rgba(0, 0, 200, 0.5);
	text-decoration: none;
}
.nav-link {
	color: white;
}

#enterence {
	overflow: hidden;
	height: 100vh;
}
#enterence .btn {
	color: white;
	background-color: rgba(0, 0, 200, 0.5);
	width: 300px;
}
#visimisi {
	background-color: rgba(9999, 9999, 9999, 0.4);
	height: 100vh;
}
h1,
h2,
h3 {
	color: white;
	text-align: center;
}
.jumbotron {
	color: white;
	font-weight: 600;
}
.visimisi p {
	color: black;
	font-weight: 700;
	height: 50px;
}
.card {
	background-color: rgba(0, 0, 200, 0.3);
	height: 400px;
}
.card-body p {
	text-align: center;
	font-family: sans-serif;
	color: white;
}
.card-body h5 {
	text-align: center;
	color: white;
}
.card-body a {
	margin: auto;
}
.card img {
	padding-top: 40px;
	width: 100px;
	height: 200px;
	margin: auto;
}
#gambar {
	background-color: white;
}
.konten img {
	width: 10px;
}

#footer {
	background: rgb(222, 222, 222);
	color: #34495e;
	padding: 50px 0;
	display: inline-block;
	width: 100%;
	font-weight: 300;
}
#bottom {
	background-color: rgba(0, 0, 200, 0.5);
	color: white;
}
#biodata {
	background-color: rgba(222, 222, 222, 0.6);
	height: 100vh;
}
.img-thumbnail {
	width: 10%;
	height: 10%;
	border-radius: 100px;
}
